.tofes-row-hide{
	display:none; 
	

}




.dropbtn {
	
	cursor: pointer;
	min-width: 6em;
	padding: 7px 10px;
	border: 1px solid #ABABAB;
	margin-left: 10px;
	font-family: "Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif;
	font-size: 11px;
	color: #444;
	width: 175px;
	text-align: center;
	}
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
	background-color: #e6f2fa;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
	position: relative;
	display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.div-link{

	padding: 10px;
	color: #fff;
	text-align: center;
	width: 175px;
	min-width: 6em;
	padding: 7px 10px;
	border-bottom: 1px solid #ABABAB;
	border-right: 1px solid #ABABAB;
	border-left: 1px solid #ABABAB;

	background-color: #FDFDFD;
	margin-left: 10px;
	font-family: "Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif;
	font-size: 11px;
	color: #444;
}

.div-link:hover{
	background:#05d1ff;
  background:#e6f2fa;
  cursor: default;
}